# I store my API Keys here
live = {
    "key": "36d061a6ecede2fd517a7748a3f6f0b2",
    "secret": "/bYUpaRl7aHIy5xn6AQHQBaaMa99blKCB+OpQjWzGyyOrF1xZzUy2+DeRlpbo6jYpzIerrrfqc7GXDUC+EYcmQ==",
    "passphrase": "pr0f1t@bl3",
    }

sandbox = {
    "key": "48183b9ec8d554876a1c04204b9d8049",
    "secret": "PXwrRQxOeg4o+cXhv2Uwu3GQ082YFr6gEmcCFLeqhxMZjnmYWHYidWwYBeSF6fb54Ln9oQPy9AjC51H/7s1+1A==",
    "passphrase": "pr0f1t@bl3",
    }

my_user_id = "59ab0cbeebee8400dde78420999999"

slack = 'https://hooks.slack.com/services/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'
debug = False
