# I store my API Keys here
live = {
    "key": "INSERT_MY_KEY_HERE",
    "secret": "INSERT_MY_SECRET_HERE",
    "passphrase": "INSERT_MY_PASSPHRASE_HERE",
    }

sandbox = {
    "key": "INSERT_MY_KEY_HERE",
    "secret": "INSERT_MY_SECRET_HERE",
    "passphrase": "INSERT_MY_PASSPHRASE_HERE",
    }

my_user_id = "INSERT_MY_USER_ID_HERE"

slack = "INSERT_WEBHOOK_HERE"
debug = False

# Personal Settings
fill_notifications = True
place_notifications = False
connection_notifications = True

# Trade Settings
order_size = 0.03
buy_initial_offset = 100
sell_initial_offset = 100
buy_additional_offset = 2
sell_additional_offset = 2